@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #047aed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-style: normal;
  font-weight: bolder;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  margin: 10px 0;
}

p {
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 30px 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Header */
.header {
  margin-top: 40px;
  animation: slideInFromTop 1s ease forwards;
}

.title::after {
  content: "";
  background: rgba(255, 0, 0, 0.1);
  width: 350px;
  height: 20px;
  border-radius: 5px;
  position: absolute;
  transform: translate(85%, -115%);
}

/* Showcase */
.showcase {
  animation: slideInFromLeft 0.9s ease-in;
}

.small-container p {
  font-weight: bold;
}

.text {
  height: 100%;
  margin-top: 15px;
}

.text p {
  font-size: 15px;
  line-height: 20px;
  margin: 15px 10px;
  text-align: left;
}

.instagram.grid {
  justify-content: center;
  grid-template-columns: 20% 80%;
  gap: 0;
}

.instagram i {
  margin-left: 27px;
  margin-right: 30px;
}

.instagram a {
  font-size: 13px;
  font-weight: bold;
}

/* Footer */
.footer {
  animation: slideInFromBottom 1s ease-in;
}

.footer h1 {
  margin-top: 50px;
}

.footer a {
  font-weight: bold;
}

.btn-1 {
  background: linear-gradient(90.16deg, #5402a6 0.14%, #5637d0 99.88%);
}

.btn-2 {
  background: linear-gradient(90deg, #1448f7 0%, #00a2d6 96.28%);
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-400px);
  }

  75% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(20px);
  }
}
