.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

.small-container {
  background-color: var(--primary-color);
  color: #fff;
  padding: 40px;
  height: 100%;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 10px;
  height: 300px;
}

.card:hover {
  transform: scale(0.98);
  transition: transform 0.2s ease-in;
}

.btn {
  display: inline block;
  padding: 10px 30px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  transform: scale(0.98);
  transition: transform 0.2s ease-in;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.row-2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}

.row-3 {
  display: grid;
  grid-template-rows: 60% 20% 20%;
  align-items: center;
  overflow: auto;
}
